<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.5.0/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
    <title>FastAPI & HTMX Mastery</title>
</head>

<body>
    <section class="max-w-lg mx-auto bg-white p-6 rounded-lg shadow-lg">
        <h1 class="text-3xl mb-4">FastAPI & HTMX Mastery</h1>

        <form method="POST" class="mt-4">
            <textarea class="w-full h-40 px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500"
                      name="text" placeholder="Type your text..."></textarea>

            <button type="submit" hx-post="/extract_key" hx-target="#key"
                    class="mt-4 px-4 py-2 bg-red-500 text-white rounded hover:bg-white hover:text-black transition duration-300">
                Submit
            </button>
        </form>

        <div id="key" class="mt-6"></div>

    </section>

    
</body>

</html>